@using Concursus.API.Client;
@using Concursus.API.Client.Models
@inject NavigationManager NavManager
@inject Core.CoreClient coreClient
@inject IJSRuntime JSRuntime;
@inject UserService userService
@inject ModalService modalService
@inject AppConfiguration appConfiguration

@inject Sage200Microservice.API.Protos.Invoice.InvoiceService.InvoiceServiceClient sageIntegrationService



<style>

    .TActionBtn {
        margin: 0 !important;
        padding: 0 !important;
        background-color: inherit !important;
        color: #ffffff !important;
    }

    span.k-menu-link-text:first-child, .k-menu-expand-arrow {
        color: white !important;
    }
</style>

<TelerikMenu Data="@MenuItems"
             IconField="@(nameof(API.Client.MenuItem.Icon))"
             DisabledField="@(nameof(API.Client.MenuItem.IsReadOnly))"
             OnClick="@((GridActionMenuItem item) => OnClickHandler(item))"
             Class="TActionBtn"/>


 @attribute [Authorize]
<TelerikWindow @ref="ModalWindow" Class="responsive-window" Visible="@ModalWindowIsVisible"  Modal="true" CloseOnOverlayClick="false" MaxHeight="100vh">
    <WindowTitle>@WindowTitle</WindowTitle>
    <WindowContent>
        <h4>
            <i class="@HeaderCssIcon" style="font-size: 1.2rem;"></i> @HeaderText
        </h4>
        @if (!string.IsNullOrEmpty(@GridCodeSelection))
        {
            <DynamicGrid GridCode="@GridCodeSelection" ParentGuid="@GetParentGuid()" />
        }
        @if (!string.IsNullOrEmpty(@LoadPageUrl))
        {
            <DynamicComponent Type="@Type.GetType(@LoadPageUrl)" Parameters="@DetailPageParameters"/>
        }
        @if (GridRef.Code == "AUTHASSIGN")
        {
            <DynamicComponent Type="@Type.GetType($"Concursus.PWA.Pages.QuoteSelfAssignDetail")" Parameters="@DetailPageParameters"  />
        }
    </WindowContent>
    <WindowActions>
        <WindowAction Name="MinRimize"></WindowAction>
        <WindowAction Name="Maximize"></WindowAction>
        <WindowAction Name="Close" OnClick="@CloseWindowCross"></WindowAction>
    </WindowActions>
</TelerikWindow>